<link rel="stylesheet" href="signin" />

<div class="home-navigation">
  <h1><%= link_to 'Home', reviews_path %></h1>
</div>

<div class="form_signin">
  <div class="form_signin_heading">
    <h2>Log in</h2>
  </div>
  
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, required: false, autofocus: true %>
  <%= f.input :password, required: false %>
  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  <%= f.button :submit, "Sign In" %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
