<h1>New City Review</h1>

<%= simple_form_for @review do |f| %>
  <div class="row">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>

  <div class="row">
    <%= f.input :cusine, label: 'Cusine', collection: Review::CUSINE%>
  </div>

  <div class="row">
    <%= f.input :price, collection: Review::PRICES %>
  </div>

  <div class="row">
    <%= f.label :review, 'Review' %>
    <%= f.text_field :review %>
  </div>

  <div class="row">
    <%= f.submit "Post" %>
  </div>
<% end %>

<%= link_to 'Home', reviews_path %>
