<%#= binding.pry %>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<link rel="stylesheet" href="index" />

<%= form_tag(reviews_path, :method => 'get', id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Reviews" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<div class="container">
  <% if @no_found_reviews %>
    <h4><%= @no_found_reviews%></h4>
    <% @search_for_reviews.each do |searched_for_review| %>
      <li><%= link_to searched_for_review.name, review_path(searched_for_review.id)  %></li>
    <% end %>
  <% elsif @search_for_reviews != nil %>
    <% @search_for_reviews.each do |searched_for_review| %>
      <%= link_to "The Review you are looking for is: #{searched_for_review.name}", review_path(searched_for_review.id) %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="text-center"><h1>CHOOSE YOUR OWN ADVENTURE</h1></div>
  </div>

  <div class="container">
    <img src="http://static1.squarespace.com/static/54b2fe58e4b07e1bade096ca/t/5564eb3de4b0a87d403b00c7/1432677190565/?format=2500w" class="img-adventure"/>
  </div>

  <div class="box">
    <h1><%= "SHARE YOUR OWN ADVENTURE!" %></h1>
  </div>

  <div class="form-wrapper">
    <%= render "form" %>
  </div>

  <div class="container">
    <h1>Restaurants</h1>
    <% @reviews.each do |review| %>
      <ul>
        <li>
          <h3 id="city-names"><%= link_to "#{review.name}", review_path(review.id) %></h3>
          <%= link_to "Delete", review, method: :delete, data: {confirm: 'Are you sure?'},
          remote: true, class: 'delete review' %>
        </li>
      </ul>
      <% if current_user != nil && current_user.admin? %>
        <%= button_to 'ADMIN DELETE', review, method: :delete %>
      <% end %>
    <% end %>

    <%= paginate @reviews %>
    <%= link_to_next_page @reviews, 'Next Page' %>
    <%= page_entries_info @reviews %>
  </div>
</div>
